# Build files
.deps
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
neocomp
*.o
test/test
obj/

# Vim files
.sw[a-z]
.*.sw[a-z]
*~
compile_commands.json

# Misc files
man/*.html
man/*.1
/compton*.trace
